$dark-overly: rgba(0, 0, 0, 0.6);


.navbar {
    .nav-item {
        padding-left: 1em !important;

        .nav-link {
            text-transform: uppercase;
            color: #4b4b4b;
        }
    }
}

/*-------*/
.carousel-item {
    height: 550px;
}

.carousel-img-1 {
    background: url('../img/image1.jpeg');
    background-size: cover;
}

.carousel-img-2 {
    background: url('../img/image2.jpeg');
    background-size: cover;
}

.carousel-img-3 {
    background: url('../img/image3.jpeg');
    background-size: cover;
}

/*--------*/

#home-icon {
    .row {
        .fa {
            font-size: 50px;
        }
    }
}

/*--------*/

#home-getstarted {
    position: relative;
    background: url('../img/bg1.jpeg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px;

    .dark-overly {
        background: $dark-overly;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

#video-section {
    position: relative;
    background: url('../img/people.jpeg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px;

    .dark-overly {
        position: absolute;
        background: $dark-overly;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .fa {
        font-size: 50px;
    }
}

#gallary {
    img {
        min-height: 250px;
        border: 2px solid orange;
        border-radius: 7px;
    }
}

/*-----About Us-----*/

#page-header {
    background: url('../img/image1.jpeg') center no-repeat;
    background-size: cover;
    height: 300px;
    background-attachment: fixed;

    .home-overly {
        background: rgba(0, 0, 0, 0.4);
        height: 300px;
    }

}

#about-item {
    .fa {
        font-size: 40px;
        margin-bottom: 7px;
    }
}

#testimonial {

    .slick-prev::before,
    .slick-next::before {
        color: #000;
    }
}


#servicesHeader {
    position: relative;
    background: url('../img/image2.jpeg') center no-repeat;
    background-size: cover;
    height: 300px;
    background-attachment: fixed;

    .services-overly {
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

#blog{
    position: relative;
   background: url('../img/image3.jpeg') center no-repeat;
    background-size: cover;
    height: 300px;
    background-attachment: fixed;
    
    .blog-overly{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.1);
    }
}

#blogPost{
    img{
        height: 250px;
        
    }
   
}


#contactUs{
    background: url('../img/people.jpeg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 300px;
    
    
    .contact-overly{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
    }
}





























@media(max-width:767px) {
    #home-getstarted {
        background-position: center;
        min-height: 400px;
    }
}

@media(max-width:480px) {
    .carousel {
        h1 {
            font-size: 2.7rem;
        }
    }


    #More-section {
        .more-info {
            margin-bottom: 10px;
        }
    }
}
